.toolbar {
    border: solid darkgray;
    background-color: darkgray;    
    color: white;
    height: 100%;
}

.turn-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blue-font {
    color: blue;
}

.red-font {
    color: red;
}