<div class="toolbar">
    <div class="turn-info"> 
        <ng-container *ngIf="isGameInitialized(); else initGame">
            <ng-container *ngIf="!turn.isEndOfGame; else endgame">    
                <p> Turn: {{turn.nbTurn}} - <span [ngClass]="(isBluePlayer())?'blue-font':'red-font'"> {{displayPlayer(turn.currentPlayer)}} </span> is playing ! </p>                
                <div *ngIf="isHuman()"> 
                    <button class="ui_element" (click)="undoTurn()" [disabled]="nbSavePoints == 0"> Undo ({{nbSavePoints}}) </button>
                    <button class="ui_element" (click)="applyLife()" [disabled]="!turn.isPlayerEndOfTurn"> Apply Life </button> 
                </div>
            </ng-container>   
        </ng-container>   
    </div>

    <ng-template #initGame>
        <p> Click on "New Game" to start ! </p>
    </ng-template>

    <ng-template #endgame>
        <p> Congratulations !!! 
            <span [ngClass]="(isBlueWinner())?'blue-font': (isRedWinner() ? 'red-font' : '')">
                <ng-container *ngIf="isBlueWinner(); else redwinner">
                    {{displayBluePlayer()}}     
                </ng-container>
            </span>
            wins !
        </p>
    </ng-template>

    <ng-template #redwinner>
        <ng-container *ngIf="isRedWinner(); else draw">
            {{displayRedPlayer()}}   
        </ng-container> 
    </ng-template>

    <ng-template #draw>
        {{displayNoPlayer()}}    
    </ng-template>
</div>