<div class="ui_layout">
    <div class="rules-layout">
        <div class="rule-element" style="border: solid thin; padding: 5px;">
            <h3> A Game Of Life And Death </h3>
            <p> Based on Conway's game of life. Two players are evolving cells in order to kill all the opponent's cells. </p>
        </div>

        <app-config-game class="rule-element"></app-config-game>

        <div class="rule-element" style="border: solid  thin; padding: 5px;">
            <h3> Gameplay </h3>
            <ul>
                <li> Click on a existing cell to kill it</li>
                <li> Click on empty cell to create a new cell. <br/>
                Then click on two of your cells to feed the new cell</li>
                <li> Apply Life to end your turn</li>
            </ul>
        </div>
        
        <div class="rule-element" style="border: solid  thin; padding: 5px;">
            <h3> Evolution </h3>
            <p> At each turn, the cells are evolving applying the games of life principles: </p>
            <ul>
                <li> A cell dies of solitude with less than 2 neighbors</li>
                <li> A cell dies of surpopulation with more than 2 neighbors</li>
                <li> A new cell is born with 3 neighbors around</li>
            </ul>        
        </div>
    </div>    
    <app-game-visualizer class="game-area"></app-game-visualizer>    
    <div></div>    
</div>