.ui_layout {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.rules-layout {
    display: flex;
    flex-direction: column;        
    margin: 15px;    
}

.rule-element {
    margin: 0 0 5px 0;
}

.game-area {
    justify-self: center;
    margin: 15px;
}