<div class="layout">
    <app-players-info class="one" [players]="players$ | async"></app-players-info>
    <div class="game-area two">
        <app-viewer (pickObject)="onPick($event)" 
            (finishRendering)="onFinishRendering($event)"
            [size]="size$ | async" 
            [board]="board$ | async"
            [isRendering]="isRendering$ | async"></app-viewer>
    </div>
    <app-turn-info class="three" 
        (nextTurn)="applyLife()" 
        (undo)="restoreTurn()"
        [turn]="turn$ | async" 
        [players]="players$ | async"
        [nbSavePoints]="nbSavePoints$ | async"></app-turn-info>
</div>
