@import url(https://fonts.googleapis.com/css?family=Kodchasan);

:root {
    --font-family: 'Kodchasan', sans-serif;
}
  
body {
    font-family: var(--font-family);
    background-color: beige;
}

button {
    font-family: var(--font-family);
}

.ui_element {
    margin: 15px;
}
